* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: googlefont;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

body {
    font-family: googlefont;
}

/* header */
.header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.header li {
    margin-left: 51px;
    margin-top: 50px;
}

.header li a {
    transition: all 0.5s;
    text-decoration: none;
    font-size: x-large;
    color: white;
}

.header {
    height: 550px;
    background-image: url(../Images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.header li a:hover {
    font-size: xx-large;
    color: rgb(255, 165, 0);
}

.header h1 {
    margin-top: 50px;
    margin-left: 20px;
    font-size: 80px;
    padding-bottom: 50px;
}

.header p {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    margin-top: 50px;
    font-size: xx-large;
    background-color: rgba(255, 166, 0, 0.9);
    margin: auto;
    width: fit-content;
    border-radius: 15px;
    color: black;
    border: solid white 2px;
    font-weight: bold;


}

.hearder h1 span {
    color: orange;
}

/* members */
.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

#members {
    display: flex;
    justify-content: center;
    transition: all 0.2s;
    padding: 5px 20px;
    font-size: 45px;
    color: rgb(0, 0, 0);
    margin-top: 25px;
    text-shadow: 1px 1px 5px rgb(118, 117, 117);

}

#members:hover {
    transition: all 0.2s;
    padding: 5px 20px;
    font-size: 47px;
    color: orange;
    margin-top: 25px;
}

.members li {
    /* text-align: left; */
    transition: all 0.4s;
    width: 250px;
    height: 560px;
    display: flex;
    flex-direction: column;
    margin: 37px 30px 0;
    border: solid black 2px;
    box-shadow: 0 0 20px 1px rgb(97, 97, 97);
}

.members li:hover {
    width: 300px;
    height: 600px;
    margin: 37px 30px 0;
    border: solid orange 2px;
}

.members img {
    width: 100%;
    height: 70%;
}

.members h3 {
    padding-top: 15px;
    text-align: center;
    font-size: x-large;
}

.members p {
    position: relative;
    display: flex;
    flex-flow: nowrap;
    height: 300px;
    padding: 20px;
    font-size: large;
    text-align: justify;
    letter-spacing: normal;
    word-spacing: -1px;
}

/* about */
.about {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-image: url(../Images/Untitled-1.png);
    width: auto;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;

}

.about .circle {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.5);
    width: 550px;
    height: 550px;
    border-radius: 50%;
    padding: 25px;
    box-shadow: 0 0 15px 0.2px black;
}

.about .circle h3 {
    transition: all 0.3s;
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
    text-shadow: 1px 1px 5px rgb(118, 117, 117);
}

.about .circle h3:hover {
    text-align: center;
    margin-top: 40px;
    font-size: 37px;
    color: orange;
    text-shadow: 1px 1px 5px rgb(118, 117, 117);
}

.about .circle p {
    margin-top: 40px;
    font-size: 22px;
    padding: 0 25px 10px 25px;
    text-align: justify;
    word-spacing: -1px;
}

/* footer */
.footer {
    margin-top: 15px;
    background-color: orange;
    width: auto;
    height: 300px;
    text-align: center;
}

.footer ul {
    display: inline-block;
    list-style-type: none;
    margin: 40px 100px;


}

.footer li {
    padding: 5px 0;
    font-size: x-large;
    text-align: left;

}

.footer a {
    text-decoration: none;
    color: black;
}

.footer h2 {
    text-align: left;
}

.footer p {
    font-style: italic;
}